<div class="addContainer">
  <div class="modalHeader">
      <div class="editRowModal">
          <div class="modalHeader clearfix">
              <img src="assets/images/user.jpg" class="rounded-circle" width="32" height="32" alt="">
              <div class="modal-about">
                  <div class="font-weight-bold p-t-5 font-17"> Agregar Hardware Version</div>
              </div>
          </div>
      </div>
      <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
          class="mat-focus-indicator mat-icon-button mat-button-base">
          <span class="mat-button-wrapper">
              <mat-icon>close </mat-icon>
          </span>
      </button>
  </div>
  <div class="mat-dialog-content">
      <form [formGroup]="form" (ngSubmit)="sendData()" class="register-form m-4">
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                      <mat-icon matSuffix>undo</mat-icon>
                      <mat-label>Previous Version</mat-label>
                      <mat-select formControlName="previous_version_id">
                        <mat-option *ngFor="let item of dataHardwareVersions" [value]="item.id">
                            {{item.id}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                    <mat-icon matSuffix>description</mat-icon>
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description" required formControlName="description">
                    <mat-error *ngIf="form.controls['description'].hasError('required') && (form.controls['description'].dirty || form.controls['description'].touched)">
                      It's required field
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                  <mat-icon matSuffix>pin</mat-icon>
                  <mat-label>Numeric value</mat-label>
                  <input matInput placeholder="Numeric value" required formControlName="numeric_value" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                  <mat-error *ngIf="form.controls['numeric_value'].hasError('required') && (form.controls['numeric_value'].dirty || form.controls['numeric_value'].touched)">
                    It's required field
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                <mat-icon matSuffix>extension</mat-icon>
                <mat-label>Version</mat-label>
                <input matInput placeholder="Version" required formControlName="version">
                <mat-error *ngIf="form.controls['version'].hasError('required') && (form.controls['version'].dirty || form.controls['version'].touched)">
                  It's required field
                </mat-error>
            </mat-form-field>
        </div>
    </div>
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row" mat-dialog-actions align="end">
                    <button type="submit" mat-raised-button class="baby-green">
                        <span class="mat-button-wrapper log-white">
                            <mat-icon>save</mat-icon>
                        </span>
                    </button>
                    <button mat-dialog-close mat-raised-button color="warn">
                        <span class="mat-button-wrapper log-white">
                            <mat-icon>close</mat-icon>
                        </span>
                    </button>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>
