<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="body">
                    <div class="header">
                        <h2><strong>Information</strong></h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="box-part text-center">
                                <div class="text fs-3 m-b-5">Personal Information</div>
                                <div class="row">
                                    <div class="image text-center mb-3 mt-3">
                                        <img src="assets/images/usrbig.jpg" alt="User Image" width="150" height="150"
                                            class="img-circle user-img-circle">
                                    </div>
                                </div>
                                <div class="text p-b-10">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <form class="register-form">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput value="Juanito34" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput value="Juanito34" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput value="Juanito34" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput value="Juanito34" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="box-part text-center">
                                <div class="text fs-3 m-b-5">Institution Information</div>
                                <div class="row">
                                    <div class="image text-center mb-3 mt-3">
                                        <img src="assets/images/usrbig.jpg" alt="User Image" width="150" height="150"
                                            class="img-circle user-img-circle">
                                    </div>
                                </div>
                                <div class="text p-b-10">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <form class="register-form">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput value="Juanito34" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput value="Juanito34" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput value="Juanito34" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput value="Juanito34" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>