<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="body" *ngIf="!loader">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="box-part text-center">
                                <div class="text fs-3 m-b-5">{{translate.profile.personal_img}}</div>
                                <div class="row">
                                    <div class="image text-center mb-3 mt-3">
                                        <img src="{{userInfo.profile_picture ? profile : 'assets/images/image-gallery/user.jpg'}}"
                                            alt="" width=" 150" height="150" class="img-circle user-img-circle">
                                    </div>
                                </div>
                                <div class="text p-b-10">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <form class="register-form">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{translate.users.name}}</mat-label>
                                                        <input matInput [value]="userInfo.profile[0].name" disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{translate.users.last_name}}</mat-label>
                                                        <input matInput [value]="userInfo.profile[0].last_name"
                                                            disabled>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{translate.users.emaiil}}</mat-label>
                                                        <input matInput [value]="userInfo.email" disabled>
                                                        <mat-icon matSuffix>email</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{translate.users.rol}}</mat-label>
                                                        <input matInput [value]="userInfo.rol[0].name" disabled>
                                                        <mat-icon matSuffix>person_outline</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="box-part text-center">
                                <div class="text fs-3 m-b-5">{{translate.profile.institution_img}}</div>
                                <div class="row">
                                    <div class="image text-center mb-3 mt-3">
                                        <img src="{{userInfo.institution_picture ? institution : 'assets/images/image-gallery/InstitutionPicture.jpg'}}"
                                            alt="User Image" width="150" height="150"
                                            class="img-circle user-img-circle">
                                    </div>
                                </div>
                                <div class="text p-b-10">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <form class="register-form">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{translate.users.institution}}</mat-label>
                                                        <input matInput [value]="userInfo.profile[0].institution"
                                                            disabled>
                                                        <mat-icon matSuffix>school</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{translate.users.country}}</mat-label>
                                                        <input matInput [value]="userInfo.profile[0].countries.name"
                                                            disabled>
                                                        <mat-icon matSuffix>outlined_flag</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{translate.users.city}}</mat-label>
                                                        <input matInput [value]="userInfo.profile[0].cities.name + ', ' + userInfo.profile[0].cities.code"
                                                            disabled>
                                                        <mat-icon matSuffix>location_city</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{translate.users.language}}</mat-label>
                                                        <input matInput [value]="userInfo.profile[0].languages.name"
                                                            disabled>
                                                        <mat-icon matSuffix>language</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5">
                            <button mat-button class="baby-green m-2 btn-lg"
                                (click)="openDialog()">{{translate.profile.change_password}}</button>
                            <button (click)="openProfile(userInfo,true)" mat-button
                                class="baby-pink m-2 btn-lg">{{translate.profile.uploadPP}}</button>
                            <button (click)="openInstitution(userInfo,false)" *ngIf="rol == 4" mat-button
                                class="baby-yellow m-2 btn-lg">{{translate.profile.uploadIP}}</button>
                        </div>
                    </div>
                </div>
                <mat-spinner *ngIf="loader" color="accent" style="top: 150%; margin-right: auto; margin-left: auto;"
                    diameter="150"></mat-spinner>
            </div>
        </div>
    </div>
</section>