<section class="content">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="card" [hidden]="!loader">
					<div class="body">
						<div class="tableBody">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<!-- <div class="row line-colors">
					<div class="col-3 baby-pink height"></div>
					<div class="col-3 baby-purpura height"></div>
					<div class="col-3 baby-green height"></div>
					<div class="col-3 baby-yellow height"></div>
				  </div> -->
							</div>
							<div class="table-responsive">
								<div class="card">
									<mat-tab-group mat-align-tabs="start">
										<mat-tab label="Datos Academicos">
											<div class="p-4">
												<small class="text-muted fs-4">Nombre: </small>
												<p class="fs-5">{{user.full_name}}</p>

												<small class="text-muted fs-4">Nivel Educativo: </small>
												<p class="fs-5">{{user.level}}</p>

												<small class="text-muted fs-4">Grupo: </small>
												<p class="fs-5">{{user.group}}</p>

												<small class="text-muted fs-4">Correo: </small>
												<p class="fs-5">{{user.email}}</p>

											</div>
										</mat-tab>
										<mat-tab label="Evaluaciones">
											<ul class="list-unstyled p-4">
												<li>
													<!-- <div><strong>Nivel Educativo:</strong> {{user.level}}</div> -->
												</li>
												<li>
													<div><strong>Materias: </strong></div>

												</li>
											</ul>
										</mat-tab>
									</mat-tab-group>
								</div>
							</div>
						</div>
					</div>
				</div>
				<mat-spinner [hidden]="loader" color="accent" style="top: 150%; margin-right: auto; margin-left: auto;"
					diameter="150"></mat-spinner>
			</div>
		</div>
	</div>
</section>