$babycare-pink: #f9c9c8;
$babycare-purpura: #b1b1f6;
$babycare-green: #87d892;
$babycare-yellow: #f5dc77;
$babycare-magenta: #f677b3;
$babycare-aquamarine: #2fdadc;
$babycare-salmon: #f69577;
$babycare-blue: #879bf2;
$babycare-orange: #f7b167;
$babycare-purpure: #b167f7;
$babycare-gray: #b3b3b4;
$titles: #000000;
$subtitles: #585858;
$principal-text: #000000;
$secondary-text: #585858;
