<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img src="assets/images/inercia/logo-inercia.png" class="rounded-circle" width="32" height="32" alt="">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17"> {{ data.edit ? translate.tutorials.dialog_edit : translate.tutorials.dialog_add}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
            class="mat-focus-indicator mat-icon-button mat-button-base">
            <span class="mat-button-wrapper">
                <mat-icon>close </mat-icon>
            </span>
        </button>
    </div>
    <div class="mat-dialog-content">
        <form [formGroup]="form" (ngSubmit)="sendData()" class="register-form m-4">
            <div class="row" *ngIf="data.edit">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>{{translate.shared.language}}</mat-label>
                        <mat-select formControlName="language">
                            <mat-option *ngFor="let item of dataLanguages" [value]="item.code">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>view_quilt</mat-icon>
                        <mat-label>{{translate.tutorials.name}}</mat-label>
                        <input matInput placeholder="Ex. Tutorial 1" required formControlName="title">
                        <mat-error
                            *ngIf="form.controls['title'].hasError('required') || (form.controls['title'].dirty || form.controls['title'].touched)">
                            It's required field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>123</mat-icon>
                        <mat-label>{{translate.tutorials.url}}</mat-label>
                        <input matInput placeholder="Ex. https://www.google.com.mx/" formControlName="url">
                        <mat-error
                            *ngIf="form.controls['url'].hasError('required') || (form.controls['url'].dirty || form.controls['url'].touched)">
                            It's required field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix></mat-icon>
                        <mat-label>{{translate.tutorials.description}}</mat-label>
                        <textarea matInput placeholder="Ex. No poner de cabeza" formControlName="description"></textarea>
                        <mat-error
                            *ngIf="form.controls['description'].hasError('required') || (form.controls['description'].dirty || form.controls['description'].touched)">
                            It's required field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width"
                        (click)="picker.open()">
                        <mat-label>{{translate.tutorials.choose_se}}</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="start_date" placeholder="Start Date" disabled>
                            <input matEndDate formControlName="end_date" placeholder="End Date" disabled>
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <div class="mat-form-field example-full-width">
                        <button type="button" mat-raised-button (click)="getFile()">{{translate.tutorials.select_image}}</button>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 mb-2" *ngIf="image">
                    <div class="mat-form-field example-full-width">
                        <div class="demo-icon-container" style="padding: 0.4rem;">
                            <div class="demo-google-material-icon">
                                <i class="material-icons">image</i>
                                <span class="icon-name">{{translate.tutorials.captured_image}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-checkbox color="primary" formControlName="active"> {{translate.shared.active}} </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" mat-dialog-actions align="end">
                        <button type="submit" mat-raised-button color="primary" class="baby-green">
                            <span class="mat-button-wrapper log-white">
                                <mat-icon>save</mat-icon>
                            </span>
                        </button>
                        <button mat-dialog-close mat-raised-button color="warn">
                            <span class="mat-button-wrapper log-white">
                                <mat-icon>close</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>