$babycare-pink: #f9c9c8;
$babycare-purpura: #b1b1f6;
$babycare-green: #87d892;
$babycare-yellow: #f5dc77;
$babycare-magenta: #f677b3;
$babycare-aquamarine: #2fdadc;
$babycare-salmon: #f69577;
$babycare-blue: #879bf2;
$babycare-orange: #f7b167;
$babycare-purpure: #b167f7;
$babycare-gray: #b3b3b4;
$titles: #000000;
$subtitles: #585858;
$principal-text: #000000;
$secondary-text: #585858;

.navbar,
.color-baby,
.navbar-header {
    background-color: $babycare-pink  !important;
}

.logo-name,
.feather-maximize,
.log-white,
.navbar-toggle,
.bars::before,
.bars::after {
    color: white !important
}

.baby-pink {
    background-color: $babycare-pink;
}

.baby-letter-pink {
    color: $babycare-pink;
}

.baby-purpura {
    background-color: $babycare-purpura  !important;
}

.baby-green {
    background-color: $babycare-green;
}

.baby-yellow {
    background-color: $babycare-yellow;
}

.baby-magenta {
    background-color: $babycare-magenta;
}

.height {
    height: 1vh;
    margin-bottom: 0px !important;
}

.line-colors {
    margin-bottom: -20px !important;
    padding: 0px 10px 0px 11px;
}

.point {
    width: 10px;
    height: 10px;
}

.table-cell-custom {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
