$babycare-pink: #f9c9c8;
$babycare-purpura: #b1b1f6;
$babycare-green: #87d892;
$babycare-yellow: #f5dc77;
$babycare-magenta: #f677b3;
$babycare-aquamarine: #2fdadc;
$babycare-salmon: #f69577;
$babycare-blue: #879bf2;
$babycare-orange: #f7b167;
$babycare-purpure: #b167f7;
$babycare-gray: #b3b3b4;
$titles: #000000;
$subtitles: #585858;
$principal-text: #000000;
$secondary-text: #585858;

.mr-5{
    margin-right: 5.5rem;
}

.letters {
    margin: 7px 0px 3px 6px !important;
}

.aling-icons-menu {
    display: inline-flex !important;
    align-items: center !important;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.center-icon {
    position: relative;
    top: -6px;
    left: 7px;
}

.aling-icon {
    margin-top: .5rem;
    text-align: left;
}

.navbar,
.color-baby,
.navbar-header {
    background-color: $babycare-pink  !important;
}

.spinner-white circle {
    stroke: white !important;
}

.logo-name,
.feather-maximize,
.log-white,
.navbar-toggle,
.bars::before,
.bars::after {
    color: white !important
}

.baby-pink {
    background-color: $babycare-pink;
}

.baby-letter-pink {
    color: $babycare-pink;
}

.baby-purpura {
    background-color: $babycare-purpura  !important;
}

.baby-green {
    background-color: $babycare-green;
}

.baby-yellow {
    background-color: $babycare-yellow;
}

.baby-magenta {
    background-color: $babycare-magenta;
}

.height {
    height: 1vh;
    margin-bottom: 0px !important;
}

.line-colors {
    margin-bottom: -20px !important;
    padding: 0px 10px 0px 11px;
}

.point {
    width: 10px;
    height: 10px;
}

.table-cell-custom {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.qrcodeImage {
    display: flex;
    flex: 1;
}

.center {
    display: flex;
    flex: 1;
    justify-content: center;
}

table {
    width: 100%;
}

th {
    background-color: #f5f5f5 !important;
    color: #666 !important;
}

.icon-profile{
    margin-top: 8px;
}

.text-device-code{
  text-align: center;
  font-weight: 600;
  font-size: 5rem;
}
