<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img src="assets/images/inercia/logo-inercia.png" class="rounded-circle" width="32" height="32" alt="">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17"> Ver Imagen </div>
                </div>
            </div>
        </div>
        <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
            class="mat-focus-indicator mat-icon-button mat-button-base">
            <span class="mat-button-wrapper">
                <mat-icon>close </mat-icon>
            </span>
        </button>
    </div>
    <div class="mat-dialog-content">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="extension == 'mp4'">
            <div class="m-0 row justify-content-center" style="margin-right:0rem;">
                <div class="col-auto">
                    <video [src]="url" class="mt-2" height="400vh" autoplay loop></video>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="extension != 'mp4'">
            <img [src]="url" alt="">
        </div>
    </div>
</div>