<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img src="assets/images/inercia/logo-inercia.png" class="rounded-circle" width="32" height="32" alt="">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17"> {{translate.users.dialog_edit}} </div>
                </div>
            </div>
        </div>
        <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
            class="mat-focus-indicator mat-icon-button mat-button-base">
            <span class="mat-button-wrapper">
                <mat-icon>close </mat-icon>
            </span>
        </button>
    </div>
    <div class="mat-dialog-content">
        <form [formGroup]="form" (ngSubmit)="sendData()" class="register-form m-4">
            <!-- ROL -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>{{translate.users.rol}}</mat-label>
                        <mat-select formControlName="role_id">
                            <mat-option *ngFor="let item of dataRoles" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="form.controls['role_id'].hasError('required') || (form.controls['role_id'].dirty || form.controls['role_id'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- DEALER -->
            <!-- <div class="row" *ngIf="select === 4 && rol !== '3'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>Dealer</mat-label>
                        <mat-select formControlName="dealer">
                            <mat-option *ngFor="let item of dataSelect" [value]="item">
                                {{item.users.profile[0].name + ' ' + item.users.profile[0].last_name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->
            <!-- INSTRUCTOR -->
            <div class="row" *ngIf="select === 6 && rol === '4'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>{{translate.evaluations.instructor}}</mat-label>
                        <mat-select formControlName="instructor">
                            <mat-option *ngFor="let item of dataSelect" [value]="item">
                                {{item.users.profile[0].name + ' ' + item.users.profile[0].last_name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- EMAIL -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-label>{{translate.users.email}}</mat-label>
                        <input matInput placeholder="Ex. example@gmail.com" required formControlName="email">
                        <mat-error
                            *ngIf="form.controls['email'].hasError('required') || (form.controls['email'].dirty || form.controls['email'].touched)">
                            {{translate.validations.required}}
                        </mat-error>
                        <mat-error
                            *ngIf="form.controls['email'].hasError('email') || (form.controls['email'].dirty || form.controls['email'].touched)">
                            {{translate.validations.email}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- NAME AND LAST NAME -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-label>{{translate.users.name}}</mat-label>
                        <input matInput placeholder="Ex. Juan" required formControlName="name">
                        <mat-error
                            *ngIf="form.controls['name'].hasError('required') || (form.controls['name'].dirty || form.controls['name'].touched)">
                            {{translate.validations.required}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-label>{{translate.users.last_name}}</mat-label>
                        <input matInput placeholder="Ex. Torres" required formControlName="last_name">
                        <mat-error
                            *ngIf="form.controls['last_name'].hasError('required') || (form.controls['last_name'].dirty || form.controls['last_name'].touched)">
                            {{translate.validations.required}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- AGE AND CELLPHONE -->
            <div class="row" >
                <div [ngClass]="select !== 6 ? 'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2' : 'col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2'" [hidden]="select !== 6">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>{{translate.users.age}}</mat-label>
                        <input matInput #age placeholder="Ex. 19" maxlength="2" type="text"
                            formControlName="age"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </mat-form-field>
                </div>
                <div [ngClass]="select !== 6 ? 'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2' : 'col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2'">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-label>{{translate.users.cellphone}}</mat-label>
                        <input matInput #phone placeholder="Ex. 8745213654" maxlength='10' required
                            formControlName="phone"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <mat-hint align="end">{{phone.value.length}} / 10</mat-hint>
                        <mat-error
                            *ngIf="form.controls['phone'].hasError('required') || (form.controls['phone'].dirty || form.controls['phone'].touched)">
                            {{translate.validations.required}}
                        </mat-error>
                        <mat-error
                            *ngIf="form.controls['phone'].hasError('minlength') || (form.controls['phone'].dirty || form.controls['phone'].touched)">
                            {{translate.validations.phone}}
                        </mat-error>
                        <!-- <mat-error
                            *ngIf="form.controls['phone'].hasError('pattern') || (form.controls['phone'].dirty || form.controls['phone'].touched)">
                            Only Numbers
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <!-- COUNTRY AND CITY -->
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>{{translate.users.language}}</mat-label>
                        <mat-select formControlName="language_id">
                            <mat-option *ngFor="let item of dataLanguages" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="form.controls['language_id'].hasError('required') || (form.controls['language_id'].dirty || form.controls['language_id'].touched)">
                            {{translate.validations.required}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>{{translate.users.country}}</mat-label>
                        <mat-select formControlName="country_id" (selectionChange)="getCities($event.value)">
                            <mat-option *ngFor="let item of dataCountries" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="form.controls['country_id'].hasError('required') || (form.controls['country_id'].dirty || form.controls['country_id'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>{{translate.users.city}}</mat-label>
                        <input type="text" matInput formControlName="city_id" #clave
                            (change)="autoComplete()" [matAutocomplete]=" auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <!-- #data (onClose)="reset()" -->
                        <!-- <mat-select formControlName="city_id" #data>
                            <mat-option *ngFor="let item of viewCities" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="form.controls['city_id'].hasError('required') || (form.controls['city_id'].dirty || form.controls['city_id'].touched)">
                            {{translate.validations.required}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <!-- GRADE AND SECTION -->
            <div class="row" *ngIf="select == '6'">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>grade</mat-icon>
                        <mat-label>{{translate.users.grade}}</mat-label>
                        <input matInput placeholder="Ex. 5" type="number" formControlName="grade"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <mat-error
                            *ngIf="form.controls['grade'].hasError('required') || (form.controls['grade'].dirty || form.controls['grade'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>group_work</mat-icon>
                        <mat-label>{{translate.users.group}}</mat-label>
                        <input matInput placeholder="Ex. A" formControlName="group">
                        <mat-error
                            *ngIf="form.controls['group'].hasError('required') || (form.controls['group'].dirty || form.controls['group'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- INSTITUTION -->
            <div class="row" *ngIf="select == '4' || select == '5' || select == '6' || rol === '4' || rol === '5'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>school</mat-icon>
                        <mat-label>{{translate.users.institution}}</mat-label>
                        <input matInput placeholder="Ex. Universidad Tecnologica de Torreon"
                            formControlName="institution">
                        <mat-error
                            *ngIf="form.controls['institution'].hasError('required') || (form.controls['institution'].dirty || form.controls['institution'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- PREMIUM -->
            <div class="row" *ngIf="rol === '1' || rol === '2'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <p class="ms-1">
                        <mat-checkbox color="primary" formControlName="premium"> {{translate.shared.premium}}
                        </mat-checkbox>
                    </p>
                </div>
            </div>
            <!-- BUTTONS -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" mat-dialog-actions align="end">
                        <button type="submit" mat-raised-button color="primary" class="baby-green">
                            <span class="mat-button-wrapper log-white">
                                <mat-icon>save</mat-icon>
                            </span>
                        </button>
                        <button mat-dialog-close mat-raised-button color="warn">
                            <span class="mat-button-wrapper log-white">
                                <mat-icon>close</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>