<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img src="assets/images/user.jpg" class="rounded-circle" width="32" height="32" alt="">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17"> {{ data.edit ? 'Editar' : 'Agregar' }} Vista</div>
                </div>
            </div>
        </div>
        <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
            class="mat-focus-indicator mat-icon-button mat-button-base">
            <span class="mat-button-wrapper">
                <mat-icon>close </mat-icon>
            </span>
        </button>
    </div>
    <div class="mat-dialog-content">
        <form [formGroup]="form" (ngSubmit)="sendData()" class="register-form m-4">
            <div class="row" *ngIf="data.edit">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>Enter Language</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let item of dataLanguages" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>view_quilt</mat-icon>
                        <mat-label>Enter Title</mat-label>
                        <input matInput placeholder="Ex. Tutorial 1" required formControlName="title">
                        <mat-error
                            *ngIf="form.controls['title'].hasError('required') || (form.controls['title'].dirty || form.controls['title'].touched)">
                            It's required field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>description</mat-icon>
                        <mat-label>Enter Description</mat-label>
                        <input matInput placeholder="Ex. Categoria para Usuarios" formControlName="description">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>Choose a Start date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="start_date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>Choose a End date</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="end_date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="mat-form-field example-full-width">
                            <button type="button" mat-raised-button (click)="getFile()">Select Image</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" mat-dialog-actions align="end">
                        <button type="submit" mat-raised-button color="primary" class="baby-green">
                            <span class="mat-button-wrapper log-white">
                                <mat-icon>save</mat-icon>
                            </span>
                        </button>
                        <button mat-dialog-close mat-raised-button color="warn">
                            <span class="mat-button-wrapper log-white">
                                <mat-icon>close</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>