<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img src="" alt="Avatar"> -->
                <mat-icon style="color: rgb(213, 213, 213);">people</mat-icon>
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17"> Asignar Vistas</div>
                </div>
            </div>
        </div>
        <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
            class="mat-focus-indicator mat-icon-button mat-button-base">
            <span class="mat-button-wrapper">
                <mat-icon>close </mat-icon>
            </span>
        </button>
    </div>
    <div class="mat-dialog-content">
        <div class="register-form m-4">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <h4>Select Views</h4>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngFor="let item of dataViews">
                            <p class="ms-1">
                                <mat-checkbox color="primary" [checked]="check(item.id)" [id]="item.id" [value]="item"
                                    (change)="onChange($event)">{{ item.name }}</mat-checkbox>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <h4>Choose Premium</h4>
                    <div class="row">
                        <p class="ms-1">
                            <mat-checkbox color="primary" [(ngModel)]="premium"> Premium </mat-checkbox>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" mat-dialog-actions align="end">
                        <button (click)="sendData()"
                            class="mat-focus-indicator mat-raised-button mat-button-base mat-primary">Save</button>
                        <button mat-dialog-close
                            class="mat-focus-indicator mat-raised-button mat-button-base mat-warn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>