<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img src="assets/images/inercia/logo-inercia.png" class="rounded-circle" width="32" height="32" alt="">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17"> {{ data.edit ? translate.views.dialog_edit :
                        translate.views.dialog_add }} </div>
                </div>
            </div>
        </div>
        <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
            class="mat-focus-indicator mat-icon-button mat-button-base">
            <span class="mat-button-wrapper">
                <mat-icon>close </mat-icon>
            </span>
        </button>
    </div>
    <div class="mat-dialog-content">
        <form [formGroup]="form" (ngSubmit)="sendData()" class="register-form m-4">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>view_quilt</mat-icon>
                        <mat-label>{{translate.views.name}}</mat-label>
                        <input matInput placeholder="Ex. Usuarios" required formControlName="name">
                        <mat-error
                            *ngIf="form.controls['name'].hasError('required') && (form.controls['name'].dirty || form.controls['name'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>123</mat-icon>
                        <mat-label>{{translate.views.order}}</mat-label>
                        <input matInput placeholder="Ex. 1" required formControlName="order_index" type="number"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <mat-error
                            *ngIf="form.controls['order_index'].hasError('required') && (form.controls['order_index'].dirty || form.controls['order_index'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>description</mat-icon>
                        <mat-label>{{translate.views.url}}</mat-label>
                        <input matInput placeholder="Ex. gestion/ejemplo" formControlName="url">
                        <mat-error
                            *ngIf="form.controls['url'].hasError('required') && (form.controls['url'].dirty || form.controls['url'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-label>{{translate.views.category}}</mat-label>
                        <mat-select formControlName="category_id">
                            <mat-option *ngFor="let item of dataCategories" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="form.controls['category_id'].hasError('required') && (form.controls['category_id'].dirty || form.controls['category_id'].touched)">
                            {{translate.validations.required}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix></mat-icon>
                        <mat-label>{{translate.views.description}}</mat-label>
                        <textarea matInput placeholder="Ex. Categoria para Usuarios" formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <h5>{{translate.shared.choose_option}}</h5>
                    <div class="row">
                        <mat-radio-group (change)="radioChange($event)">
                            <div class="row">
                                <div class="col-6">
                                    <mat-radio-button value="1">{{translate.shared.image}}</mat-radio-button>
                                </div>
                                <div class="col-6">
                                    <mat-radio-button value="2">{{translate.shared.icon}}</mat-radio-button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="select==1">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <div class="mat-form-field example-full-width">
                        <button type="button" mat-raised-button (click)="getFile()">{{translate.shared.select_image}}</button>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 mb-2" *ngIf="image">
                    <div class="mat-form-field example-full-width">
                        <div class="demo-icon-container" style="padding: 0.4rem;">
                            <div class="demo-google-material-icon">
                                <i class="material-icons">image</i>
                                <span class="icon-name">{{translate.shared.captured_image}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="select=='2'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                        <mat-icon matSuffix>description</mat-icon>
                        <mat-label>{{translate.views.icon}}</mat-label>
                        <input matInput placeholder="Ex. folder" formControlName="image">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" mat-dialog-actions align="end">
                        <button type="submit" mat-raised-button class="baby-green">
                            <span class="mat-button-wrapper log-white">
                                <mat-icon>save</mat-icon>
                            </span>
                        </button>
                        <button mat-dialog-close mat-raised-button color="warn">
                            <span class="mat-button-wrapper log-white">
                                <mat-icon>close</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>