<div class="addContainer">
  <div class="modalHeader">
      <div class="editRowModal">
          <div class="modalHeader clearfix">
              <img src="assets/images/inercia/logo-inercia.png" class="rounded-circle" width="32" height="32" alt="">
              <div class="modal-about">
                  <div class="font-weight-bold p-t-5 font-17"> {{translate.device_type.dialog_add}}</div>
              </div>
          </div>
      </div>
      <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
          class="mat-focus-indicator mat-icon-button mat-button-base">
          <span class="mat-button-wrapper">
              <mat-icon>close </mat-icon>
          </span>
      </button>
  </div>
  <div class="mat-dialog-content">
      <form [formGroup]="form" (ngSubmit)="sendData()" class="register-form m-4">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                  <mat-icon matSuffix>pin</mat-icon>
                  <mat-label>{{translate.device_type.code}}</mat-label>
                  <input matInput placeholder="Code" required formControlName="code">
                  <mat-error *ngIf="form.controls['code'].hasError('required') && (form.controls['code'].dirty || form.controls['code'].touched)">
                    {{translate.validations.required}}
                  </mat-error>
              </mat-form-field>
          </div>
        </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                    <mat-icon matSuffix>description</mat-icon>
                    <mat-label>{{translate.device_type.description}}</mat-label>
                    <input matInput placeholder="Description" required formControlName="description">
                    <mat-error *ngIf="form.controls['description'].hasError('required') && (form.controls['description'].dirty || form.controls['description'].touched)">
                      {{translate.validations.required}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                  <mat-icon matSuffix>app_registration</mat-icon>
                  <mat-label>{{translate.device_type.name}}</mat-label>
                  <input matInput placeholder="Name" required formControlName="name">
                  <mat-error *ngIf="form.controls['name'].hasError('required') && (form.controls['name'].dirty || form.controls['name'].touched)">
                    {{translate.validations.required}}
                  </mat-error>
              </mat-form-field>
          </div>
        </div>
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row" mat-dialog-actions align="end">
                    <button type="submit" mat-raised-button class="baby-green">
                        <span class="mat-button-wrapper log-white">
                            <mat-icon>save</mat-icon>
                        </span>
                    </button>
                    <button mat-dialog-close mat-raised-button color="warn">
                        <span class="mat-button-wrapper log-white">
                            <mat-icon>close</mat-icon>
                        </span>
                    </button>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>

