/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color:black !important;
}

  
  
.dialog-responsive {
    width: 40%;
}

.dialog-tickets {
    width: 70%;
}

@media only screen and (max-width: 760px) {
    .dialog-responsive {
        width: 100%;
    }
    .dialog-tickets {
        width: 100%;
    }
}