<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img src="assets/images/inercia/logo-inercia.png" class="rounded-circle" width="32" height="32" alt="">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17"> {{ edit ? translate.tickets_views.ticket_edit:
                        translate.tickets_views.ticket_add }} </div>
                </div>
            </div>
        </div>
        <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog"
            class="mat-focus-indicator mat-icon-button mat-button-base">
            <span class="mat-button-wrapper">
                <mat-icon>close </mat-icon>
            </span>
        </button>
    </div>
    <div class="mat-dialog-content">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-2">
            <div class="row" style="margin-right:0rem;">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <form [formGroup]="form" (ngSubmit)="sendData()" class="register-form m-4">
                        <div class="row">
                            <h3>{{translate.tickets_views.info_ticket}}</h3>
                        </div>
                        <div style="width:auto;height: 41vh;" [perfectScrollbar]>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                                        <mat-label>{{translate.tickets_views.category}}</mat-label>
                                        <mat-select formControlName="ticket_category_id">
                                            <mat-option *ngFor="let item of dataTickets" [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="form.controls['ticket_category_id'].hasError('required') || (form.controls['ticket_category_id'].dirty || form.controls['ticket_category_id'].touched)">
                                            {{translate.validations.required}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="rol != '1' && rol != '2'">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                                        <mat-label>{{ translate.tickets_views.device }}</mat-label>
                                        <mat-select formControlName="user_device_id">
                                            <mat-option *ngFor="let item of dataDevices" [value]="item.id">
                                                {{item.device.serial}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="form.controls['user_device_id'].hasError('required') || (form.controls['user_device_id'].dirty || form.controls['user_device_id'].touched)">
                                            {{translate.validations.required}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                                        <mat-icon matSuffix>description</mat-icon>
                                        <mat-label>{{ translate.tickets_views.title }}</mat-label>
                                        <input matInput placeholder="Code" required formControlName="title">
                                        <mat-error
                                            *ngIf="form.controls['title'].hasError('required') || (form.controls['title'].dirty || form.controls['title'].touched)">
                                            {{ translate.validations.required }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                                        <mat-icon matSuffix>description</mat-icon>
                                        <mat-label>{{ translate.tickets_views.description }}</mat-label>
                                        <input matInput placeholder="Name" required formControlName="text">
                                        <mat-error
                                            *ngIf="form.controls['text'].hasError('required') || (form.controls['text'].dirty || form.controls['text'].touched)">
                                            {{ translate.validations.required }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" [hidden]="rol !== '1' && rol !== '2'">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                                        <mat-label>{{translate.shared.status}}</mat-label>
                                        <mat-select formControlName="status">
                                            <mat-option *ngFor="let item of dataStatus" [value]="item.code">
                                                {{item.text}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="form.controls['status'].hasError('required') || (form.controls['status'].dirty || form.controls['status'].touched)">
                                            {{translate.validations.required}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" [hidden]="edit">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <div class="row mb-5">
                                        <button type="button" mat-raised-button color="primary"
                                            (click)="openDialogSelectImage(false)" [disabled]="srcArray.length >= 3">
                                            <span class="mat-button-wrapper log-white">
                                                <mat-icon>file_upload</mat-icon>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2"
                                            *ngIf="srcArray.length > 0">
                                            <div class="row">
                                                <div class="col-4" *ngFor="let elem of srcArray;index as i;">
                                                    <div class="row">
                                                        <img [src]="elem.url" alt="" *ngIf="elem.format === 'image'"
                                                            height="150" class="mb-2">
                                                        <video [src]="elem.url" *ngIf="elem.format === 'video'" controls
                                                            height="150" class="mb-2"></video>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <button style="margin-left:2.5vw;" type="button"
                                                                mat-icon-button color="warn" (click)="deleteFile(elem)">
                                                                <!-- <span class="mat-button-wrapper log-white"> -->
                                                                <mat-icon>delete</mat-icon>
                                                                <!-- </span> -->
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="edit">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2" *ngFor="let i of ticketImage">
                                    <img [src]="i.url" alt="" (click)="openDialogImage(i,true)"
                                        *ngIf="i.extension != 'mp4'">
                                    <video [src]="i.url" (click)="openDialogImage(i,true)" height="100vh" width="auto"
                                        *ngIf="i.extension == 'mp4'"></video>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <div class="example-button-row" mat-dialog-actions align="end">
                                    <button type="submit" mat-raised-button class="baby-green"
                                        [disabled]="srcArray.length > 3">
                                        <span class="mat-button-wrapper log-white">
                                            <mat-icon>save</mat-icon>
                                        </span>
                                    </button>
                                    <button mat-dialog-close mat-raised-button color="warn">
                                        <span class="mat-button-wrapper log-white">
                                            <mat-icon>close</mat-icon>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <form [formGroup]="formComments" (ngSubmit)="sendComment()" class="register-form m-4">
                        <div class="row">
                            <h3>{{translate.evaluations.comments}}</h3>
                        </div>
                        <div class="container-comments" [perfectScrollbar]>
                            <div *ngFor="let item of dataComments">
                                <mat-card class="mat-card-shadow" [ngClass]="user_id == item.user_id ?
                                    'container-message-right':'container-message-left'">
                                    <mat-card-content>
                                        <p>{{item.text | newLine}}</p>
                                    </mat-card-content>
                                </mat-card>
                                <div *ngFor="let file of item.ticket_multimedia">
                                    <mat-card class="mat-card-shadow" [ngClass]="user_id == item.user_id ?
                                    'container-message-right':'container-message-left'">
                                        <mat-card-content class="m-0 row justify-content-center">
                                            <div class="col-auto" style="margin-left: 5vw;">
                                                <img src="{{url + file.filename + '.' + file.extension}}" alt=""
                                                    width="100px" height="150px" *ngIf="file.extension !== 'mp4'"
                                                    (click)="openDialogImage(file,false)">
                                                <video src="{{url + file.filename + '.' + file.extension}}"
                                                    width="100px" height="150px" *ngIf="file.extension === 'mp4'"
                                                    (click)="openDialogImage(file,false)"></video>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="example-button-row" mat-dialog-actions align="end">
                                    <div class="col-9">
                                        <mat-form-field appearance="outline" class="mat-form-field example-full-width">
                                            <mat-icon matSuffix (click)="openDialogImageComment(false)" color="primary">
                                                file_upload</mat-icon>
                                            <mat-label>{{translate.evaluations.comments}}</mat-label>
                                            <input matInput placeholder="Text" formControlName="comment">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-3">
                                        <button mat-raised-button color="primary" class="mb-3" [disabled]="!edit">
                                            <span class="mat-button-wrapper log-white">
                                                <mat-icon>send</mat-icon>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>